{{- /* Expects a Pages collection of projects. */ -}}
<ul class="projects">
  {{- range .ByDate }}
  <li>
    {{- with .Params.thumbnail }}{{ with resources.Get . }}{{ with .Fill "240x240 Top webp q80" }}
    <img src="{{ .RelPermalink }}" width="120" height="120" alt="" loading="lazy">
    {{- end }}{{ end }}{{ end }}
    <div>
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{- with .Params.service }}
      <p class="meta">{{ . }}</p>
      {{- end }}
      <p>{{ .Params.shortDescription }}</p>
    </div>
  </li>
  {{- end }}
</ul>
